fieldset {
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}

.backbild {
    display: flex;
    justify-content: center;
    width: 100%;
}

.sistabild {
    width: 300px;
    height: auto;
}

select {
    margin: 2px;
}
